<div class="container-fluid d-flex justify-content-center">
    <div class="d-flex flex-column">
        <div class="bd-highlight d-flex justify-content-center">
            <h1>Taches</h1>
            <button class="btn btn-outline-secondary m-1" (click)="loggout()">Logout</button>

        </div>

        <div class="ajout">
            
    
        <div *ngFor="let status of statut" class="d-flex flex-row justify-content-center">
<app-taches-affiche status="{{status.status}}"></app-taches-affiche>
<button id="buttonAjoutTacheIndef" class="btn btn-danger" value="Supprimer"
(click)='supprimerList(status)'>suprimer</button>
        </div>
        </div>

        <div class="d-flex flex-row justify-content-center "> <!--indéfinie-->
        
            <input id="inputAjoutTacheIndef" class="saisieInput" type="text" name="tacheIndef" placeholder="tache"
                [(ngModel)]="newStatus.status">
            
            <button id="buttonAjoutTacheIndef" class="btn btn-primary" value="Ajouter"
                (click)='addListe(newStatus.status)'>Ajouter une liste de tache</button>
        </div>
    
        

    </div>
</div>